@page "/code"
@inject HttpClient Http

<h3>Snippets</h3>

@if (codeSnippets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatAccordion Multi="true">
        @foreach(var @snippet in @codeSnippets.OrderBy(r=> r.Name)){
<MatExpansionPanel LazyRendering=true>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>@snippet.Name</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <SnippetComponent name="@snippet.FileName"/>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>            
        }
    </MatAccordion>    
}

@code
{
    public static HttpClient Client;    // temporary

    private web.Shared.Model.Code[] codeSnippets;
    protected override async Task OnInitializedAsync()
    {
        Client = Http;
        codeSnippets = await Http.GetFromJsonAsync<web.Shared.Model.Code[]>($"{Constants.BaseUrl}/codesnippets");
    }

}