@page "/"
@inject HttpClient Http

<h1>Tips</h1>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatTable Items="@categories" class="mat-elevation-z5" ShowPaging="false" PageSize=40>
        <MatTableRow>
            <td><a href="/tips/@context.Name">@context.Name</a></td>
        </MatTableRow>
    </MatTable>
}

@code
{
    public class Category
    {
        public string Name { get; set; }
        public string HRef { get; set; }

        public Category(string name, string href)
        {
            this.Name = name;
            this.HRef = href;
        }
    }
    private Category[] categories;
    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<Category[]>($"{Constants.BaseUrl}/techtips");
    }

}